html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0 !important;
    overflow-x: hidden;
}

$mainColor: #2e2b3d;
$lightColor: #ffd86a;
$neutralColor: #b6b8bc;
$darkColor: #191723;

.title {
    font-family: "Circular Std Medium";
    font-size: 45px;
    color: $mainColor;
    font-weight: normal;
}

.title--white {
    color: white;
}

.title--cover {
    font-size: white;
}

.title--cover--white {
    color: white;
    font-size: 50px;
}

.text {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: $mainColor;
}

.text--normal {
    font-weight: normal;
}

.text--white {
    color: white;
}

.text--bold {
    font-weight: bold;
}

// .btn {
//     background-color: $mainColor;
//     color: white;
//     font-size: 14px;
//     text-transform: uppercase;
//     font-family: 'Lato';
//     font-weight: bold;
//     border-radius: 20px;
//     padding: 13px;
//     border: none;
//     background-image: url('/static/Icons/icon_button.png') no-repeat left center;
//     padding-left:20px;
//     &:hover {
//         opacity: 0.8;
//         cursor: pointer;
//     }
//     &:focus {
//         outline: none;
//     }
// }

  
// .btn--no-bg {
// background-color: transparent;
// }